:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#dog {
  font-size: 8em;
}

.button {
  height: 40px;
  border-radius: 7px;
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: rgb(113, 62, 0);
  color: bisque;
  box-shadow: 0 0 2px bisque;
}

button:hover {
  background-color: rgb(156, 86, 0);
}
