.todo-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

body {
  background-image: url('https://www.commentnation.com/backgrounds/images/purple_notebook_paper_seamless_background_pattern.jpg');
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
  color: black;
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.add-button {
  background-color: green;
}

.add-button:hover {
  background-color: rgb(0, 84, 0);
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: rgb(201, 0, 0);
}

.move-button {
  background-color: blue;
}

.move-button:hover {
  background-color: rgb(0, 80, 177);
}

.delete-button, .move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}